{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ login_user.username }}!</h1>
    <h2>Here are all signed up users</h2>
    {% for user in users %}
    <div>
        {% with size=64 %}
            {% include '_one_user.html' %}
        {% endwith %}
    </div>
    {% endfor %}

    <form action="{{ url_for('register', next=url_for('index')) }}" method="post">
        <input type="submit" value="Add New User">
    </form>

    <form action="" method="post" novalidate>
        {{ quick_form.hidden_tag() }}
        <p>
            Quick add User
            {{ quick_form.name(size=32) }}
            {{ quick_form.submit() }}
        </p>
    </form>
{% endblock %}
